.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    border-bottom: #6A0DAD;/* Border line on the bottom of the section */
}

.section-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}

.section-title::before,
.section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 50px); /* Adjusted width */
    height: 1px;
    border: 5px solid black;
    background-color: #000;
}

.section-title::before {
    border: 5px solid black;

    left: 20px; /* Adjusted left position */
}

.section-title::after {
    right: 20px; /* Adjusted right position */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 50%; /* Adjust as needed */
    padding-right: 20px;
}

.image-container {
    flex: 1;
    max-width: 50%; /* Adjust as needed */
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .text-container,
    .image-container {
        max-width: 100%;
        width: 500px;
        padding-right: 0;
        margin-bottom: 20px;
    }
}